<a href="https://colab.research.google.com/github/LS10432/PDDS-PYD-0825-06Oct2025B/blob/main/02/Titanic_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Task 1: Loading the Data:
* Load the Titanic dataset into a Pandas DataFrame.

In [4]:
# Import the pandas library and give it an alias 'pd'
import pandas as pd

# Read the Titanic dataset and load it into a DataFrame named 'df'
df = pd.read_csv('/content/titanic.csv')

# Display the entire DataFrame in the output
display(df)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

Task 2: Initial Exploration:
* Display the first 5 rows of the dataset to get an overview.
* Provide basic information about the dataset using the info() method.

In [6]:
# Import the pandas library and give it an alias 'pd'
import pandas as pd

# Read the Titanic dataset and load it into a DataFrame named 'df'
df = pd.read_csv('/content/titanic.csv')

# Display the first 5 rows of the DataFrame in a visual, tabular format
display(df.head())

# Print a summary of the DataFrame including column names, number of non-null values, and data types
df.info()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

Task 3: Handling Missing Values:
* Identify and count the number of missing values in each column.
* Decide on an appropriate strategy for handling missing values in at least two columns and implement it.

In [24]:
# Import the pandas library and give it an alias 'pd'
import pandas as pd

# Read the Titanic dataset and load it into a DataFrame named 'df'
df = pd.read_csv('/content/titanic.csv')

# Code to count the number of rows in the DataFrame
num_rows = df.shape[0]
print(f"The number of rows in the DataFrame is: {num_rows}")
print("\n")

# Identify and count missing values in each column
print("Missing values before handling:")
print(df.isnull().sum())

# Handle missing values in 'Age' column by removing rows with missing value
df.dropna(subset=['Age'], inplace=True)

# Handle missing values in 'Embarked' column by removing rows with missing value
df.dropna(subset=['Embarked'], inplace=True)

print("\nMissing values after handling:")
print(df.isnull().sum())

# Code to count the number of rows in the DataFrame
num_rows = df.shape[0]
print("\n")
print(f"The number of rows in the DataFrame is: {num_rows}")

The number of rows in the DataFrame is: 891


Missing values before handling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values after handling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         0
dtype: int64


The number of rows in the DataFrame is: 712

Task 4: Descriptive Statistics:
* Generate descriptive statistics for the numerical columns using the describe() method.

In [26]:
# Import the pandas library and give it an alias 'pd'
import pandas as pd

# Read the Titanic dataset and load it into a DataFrame named 'df'
df = pd.read_csv('/content/titanic.csv')

# Code to count the number of rows in the DataFrame
num_rows = df.shape[0]
print(f"The number of rows in the DataFrame is: {num_rows}")
print("\n")

# Identify and count missing values in each column
print("Missing values before handling:")
print(df.isnull().sum())

# Handle missing values in 'Age' column by removing rows with missing value
df.dropna(subset=['Age'], inplace=True)

# Handle missing values in 'Embarked' column by removing rows with missing value
df.dropna(subset=['Embarked'], inplace=True)

print("\nMissing values after handling:")
print(df.isnull().sum())

# Code to count the number of rows in the DataFrame
num_rows = df.shape[0]
print("\n")
print(f"The number of rows in the DataFrame is: {num_rows}")
print("\n")

# Generate descriptive statistics for numerical columns
display(df.describe())

The number of rows in the DataFrame is: 891


Missing values before handling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values after handling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         0
dtype: int64


The number of rows in the DataFrame is: 712

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,448.589888,0.404494,2.240169,29.642093,0.514045,0.432584,34.567251
std,258.683191,0.491139,0.836854,14.492933,0.930692,0.854181,52.938648
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.750000,0.000000,1.000000,20.000000,0.000000,0.000000,8.050000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.645850
75%,677.250000,1.000000,3.000000,38.000000,1.000000,1.000000,33.000000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200

Task 5: Unique Values:
* List unique values in the 'Pclass' column.
* Count the occurrences of each unique value in the 'Embarked' column.

In [30]:
# Import the pandas library and give it an alias 'pd'
import pandas as pd

# Read the Titanic dataset and load it into a DataFrame named 'df'
df = pd.read_csv('/content/titanic.csv')

# Code to count the number of rows in the DataFrame
num_rows = df.shape[0]
print(f"The number of rows in the DataFrame is: {num_rows}")
print("\n")

# Identify and count missing values in each column
print("Missing values before handling:")
print(df.isnull().sum())

# Handle missing values in 'Age' column by removing rows with missing value
df.dropna(subset=['Age'], inplace=True)

# Handle missing values in 'Embarked' column by removing rows with missing value
df.dropna(subset=['Embarked'], inplace=True)

print("\nMissing values after handling:")
print(df.isnull().sum())

# Code to count the number of rows in the DataFrame
num_rows = df.shape[0]
print("\n")
print(f"The number of rows in the DataFrame is: {num_rows}")
print("\n")

# Generate descriptive statistics for numerical columns
display(df.describe())

# List unique values in the 'Pclass' column
print("Unique values in 'Pclass' column:")
display(df['Pclass'].unique())

# Show rows for Pclass 1
print("Rows for Pclass 1:")
#display(df[df['Pclass'] == 1].head())

# Show rows for Pclass 2
print("\nRows for Pclass 2:")
#display(df[df['Pclass'] == 2].head())

# Show rows for Pclass 3
print("\nRows for Pclass 3:")
#display(df[df['Pclass'] == 3].head())

# Count the occurrences of each unique value in the 'Embarked' column
print("\nOccurrences of unique values in 'Embarked' column:")
display(df['Embarked'].value_counts())

The number of rows in the DataFrame is: 891


Missing values before handling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

Missing values after handling:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          529
Embarked         0
dtype: int64


The number of rows in the DataFrame is: 712

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000,712.000000
mean,448.589888,0.404494,2.240169,29.642093,0.514045,0.432584,34.567251
std,258.683191,0.491139,0.836854,14.492933,0.930692,0.854181,52.938648
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,222.750000,0.000000,1.000000,20.000000,0.000000,0.000000,8.050000
50%,445.000000,0.000000,2.000000,28.000000,0.000000,0.000000,15.645850
75%,677.250000,1.000000,3.000000,38.000000,1.000000,1.000000,33.000000
max,891.000000,1.000000,3.000000,80.000000,5.000000,6.000000,512.329200

Unique values in 'Pclass' column:

array([3, 1, 2])

Rows for Pclass 1:

Rows for Pclass 2:

Rows for Pclass 3:

Occurrences of unique values in 'Embarked' column:

Embarked
S    554
C    130
Q     28
Name: count, dtype: int64

Task 6: Data Manipulation:
* Create a new column named 'FamilySize' that represents the sum of 'SibSp' and 'Parch'.
* Drop the 'Cabin' column from the dataset.

In [31]:
# Create a new column named 'FamilySize' that represents the sum of 'SibSp' and 'Parch'
df['FamilySize'] = df['SibSp'] + df['Parch']

# Drop the 'Cabin' column from the dataset
df = df.drop('Cabin', axis=1)

# Display the first few rows to show the changes
display(df.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,S,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,S,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,S,0

Task 7: Filtering and Sorting:
* Create a new DataFrame containing only passengers with an age greater than 30.
* Sort the DataFrame by 'Fare' in descending order.

In [32]:
# Create a new DataFrame containing only passengers with an age greater than 30
df_age_over_30 = df[df['Age'] > 30]

# Sort the DataFrame by 'Fare' in descending order
df_sorted_by_fare = df_age_over_30.sort_values(by='Fare', ascending=False)

# Display the first few rows of the sorted DataFrame
display(df_sorted_by_fare.head())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Embarked,FamilySize
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,C,1
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,C,0
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,C,0
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,S,5
299,300,1,1,"Baxter, Mrs. James (Helene DeLaudeniere Chaput)",female,50.0,0,1,PC 17558,247.5208,C,1

Task 8: Data Analysis:
* Calculate the survival rate for different passenger classes ('Pclass').
* Identify and display the passenger with the highest 'Fare'.

In [33]:
# Calculate the survival rate for different passenger classes ('Pclass')
survival_rate_by_pclass = df.groupby('Pclass')['Survived'].mean()
print("Survival rate by Passenger Class:")
display(survival_rate_by_pclass)

# Identify and display the passenger with the highest 'Fare'
passenger_highest_fare = df.loc[df['Fare'].idxmax()]
print("\nPassenger with the highest Fare:")
display(passenger_highest_fare)

Survival rate by Passenger Class:

Pclass
1    0.652174
2    0.479769
3    0.239437
Name: Survived, dtype: float64

Passenger with the highest Fare:

PassengerId                 259
Survived                      1
Pclass                        1
Name           Ward, Miss. Anna
Sex                      female
Age                        35.0
SibSp                         0
Parch                         0
Ticket                 PC 17755
Fare                   512.3292
Embarked                      C
FamilySize                    0
Name: 258, dtype: object